<!DOCTYPE html>
<title>DarkHorse  -  SP</title>
<link rel="stylesheet" href="/static/css/style.css"/>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<div class='frame'>
    <div class='head'>
        <h1>DarkHorse - SP</h1>
        <!-- <nav>
            <ul>
                {% if session['username'] %}
                    <li><span>欢迎，{{ session['username'] }}回来！</span></li>
                    <li><a href="{{ url_for('user.logout') }}">Log Out</a></li>
                {% else %}
                    <li><a href="{{ url_for('user.login') }}">Login</a></li>
                {% endif %}
            </ul>
        </nav> -->
        <div id='app'>
            {{message}}
        </div>
        <script type='text/javascript'>
            var app = new Vue({
                el: '#app',
                data: {
                    message:'hello'
                }
            })
        </script>
    </div>
    <section class="body">
        <header>{% block header %}{% endblock %}</header>
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
    </section>
    <section class="foot">
        <div id='namemark'>"By Alisax."</div>
    </section>
</div>